
    body {background:#FF8361;}
    html{scroll-behavior: smooth;}
    nav {font-size: 45px;}
    nav li {padding-left:35px;margin-top: 20px;}
    nav a{color:white;font-family: 'Amatic SC'}
    nav a:hover{color:black}
    .banner{font-family: 'Lacquer';width:35%;top:30%;left:32%;position:absolute;color:white;font-size:80px;text-align: center;}
    .about{font-family: 'Lacquer';width:30%;height:70%;top:165%;left:38%;position: absolute;color:#ACF0FF;font-size:100px;}
    .profile{width:30%;height:70%;top:140%;left:8%;position: absolute;font-family: 'Faustina';}
    .profile table{background-color:#FAA78D;}
    .profile h1{font-size: 50px;color:#D4FFB2;font-family: 'Alegreya Sans SC'}
    .hobbies{width:30%;height:70%;top:115%;left:40%;position: absolute;color:black;font-size:30px;line-height: 70px;font-family: 'Faustina';}
    .hobbies h1{font-size: 50px;color:#D4FFB2;font-family: 'Alegreya Sans SC'}
    .education{width:30%;height:70%;top:120%;left:67%;position: absolute;color:black;font-size:30px;line-height: 70px;font-family: 'Faustina';}
    .education h1{font-size: 50px;color:#D4FFB2;font-family: 'Alegreya Sans SC'}
    .skills{width:30%;height:70%;top:172%;left:75%;position: absolute;color:black;font-size:30px;line-height: 70px;font-family: 'Faustina';}
    .skills h1{font-size: 50px;color:#D4FFB2;font-family: 'Alegreya Sans SC'}
    .socials{width:50%;height:100%;top:220%;left:30%;position: absolute;color:#ACF0FF;font-size:100px;font-family: 'Lacquer'}
    .instagram{position:absolute;top:249%;left:33%}
    .gmail{position:absolute;top:250%;left:50%}
    .line{position:absolute;top:279%;left:34%}
    .snap{position:absolute;top:272%;left:47%}
    .yola{position:absolute;top:98%;left:10%;margin-top:70px;}
    .target1{top:101%;position:absolute;color:#FF8361}
    .id{top:137%;left:24%;position: absolute;}
    .hob{top:114%;left:51%;position: absolute;}
    .ed{top:120%;left:82%;;position: absolute;}
    .sk{top:170%;left:85%;;position: absolute;}
    button[type=submit]{
        font-family: 'Lacquer';
        font-size: 2vw;
        background-color:#ACF0FF;
        color: black;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;}