{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'css/story3.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Lacquer' rel='stylesheet'>
        <title>
            Fill the Forms!
        </title>
    </head>
    <body>
        <p style="font-family: 'Lacquer';color:#ACF0FF;font-size:4vw;text-align: center;"><b>Please fill the form below!</b></p>
        <form method="POST">
            {% csrf_token %}
            <div align="center"><table style="font-size: 3vw; color: white;text-align: left;">{{form.as_table}}</table></div>
            <br><br>
            <div align="center"><button type="Submit">Submit!</button></div>

        </form>

        <div align="center"><table border="3" style="font-size: 1.5vw; color: #ACF0FF;border-color: white;text-align: center;">
            <tr>
                <th>Name</th>
                <th>Hobby</th>
                <th>Favorite Food</th>
                <th>Favorite Drink</th>
                <th>Year</th>
            
            {% for i in friends %}
                <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.hobby }}</td>
                <td>{{ i.food }}</td>
                <td>{{ i.drink }}</td>
                <td>{{ i.the_year }}</td>
                </tr>
             {% endfor %}   
        </table></div>
    </body>
</html>