{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/story3.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Lacquer' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Faustina' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>

    <title>Welcome!</title>
  </head>

  <div class="container">
  <body id="page-top">
    <nav class="navbar navbar-expand fixed-top">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#page-top"><b>Home</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#profile"><b>About Me</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#socials"><b>Contact Me</b></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="banner">
      <p>Hello there! This is Yolanda</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
          <p style="font-size: 30px;">Friends Forms</p>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><p style="font-size: 30px;color: black;font-family: Itim;">Please kindly fill the form!</p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p style="font-size: 30px;color: black;font-family: Itim;"><a href="friends/">Click me!</a></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>

   <div class="target1" id="profile">
      <h1>.</h1>
    </div>

    <div class="yola"><img src="{% static "img/yola.png" %}" width=210px height="210px"></div>

    <div class="hobbies">
      <h1><u>Hobbies</u> <br></h1>
      <ul style="list-style-type:none;">
        <li>Reading books</li>
        <li>Watching movies</li>
        <li>Listening to music</li>
      </ul>
    </div>

    <div class="hob"><img src="{% static "img/hobbies.svg" %}" width="90" height="90"></div>

    <div class="education">
      <h1><u>Education</u> <br></h1>
      <ul style="list-style-type:none;">
        <li>SD Santa Lusia</li>
        <li>SMP Marsudirini</li>
        <li>SMAN 1 Bekasi</li>
        <li>Universitas Indonesia</li>
      </ul>

    </div>
    <div class="ed"><img src="{% static "img/education.svg" %}" width="90" height="90"></div>
    <div class="about">
      <p>About Me</p>
    </div>

    <div class="row profile">
      <h1><u>My Profile</u> <br></h1>
      <table border="0">
        <tr>
          <td style="color:red;font-size: 35px;font-family: 'Itim'">Name</td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td style="font-size: 25px; text-align:center"><b>Yolanda Wintari<br>Sirait</b></td>
        </tr>
        <tr>
          <td style="color:red;font-size: 35px;font-family: 'Itim'">NPM</td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td style="font-size: 25px;"><b>1906426986</b></td>
        </tr>
        <tr>
          <td style="color:red;font-size: 35px;font-family: 'Itim'">University</td>
          <td> </td>
        </tr>
        <tr>
          <td> </td>
          <td style="font-size: 25px;text-align:center"><b>Universitas<br> Indonesia</b></td>
        </tr>
      </table>
    </div>
    <div class="id"><img src="{% static "img/id.svg" %}" width="90" height="90"></div>

    <div class="skills">
      <h1><u>Skills</u> <br></h1>
      <ul style="list-style-type:none;">
        <li>HTML-CSS</li>
        <li>Python</li>
      </ul>
    </div>
    <div class="sk"><img src="{% static "img/skills.svg" %}" width="90" height="90"></div>

    <div class="socials" id="socials">
      <p>Contact Me</p>
    </div>

    <div class="instagram"> <a href="https://www.instagram.com/yolandawwwws/?hl=en"><img src="{% static "img/instagram.png" %}" alt="Instagram" width=173 height="173"></a></div>
    <div class="gmail"><a href="mailto:yolandasirait1994@gmail.com"><img src="{% static "img/gmail.png" %}" alt="Gmail" width=150 height="150"></a></div>
    <div class="snap"><a href=#><img src="{% static "img/snap.png" %}" alt="Snapchat" width=240 height="240"></a></div>
    <div class="line"><a href=#><img src="{% static "img/line.png" %}" alt="Line" width=20% ></a></div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</div>
</html>