{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{%static "css/story3.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Lacquer' rel='stylesheet'>
        <title>
            Thank You!
        </title>
    </head>
    <body>
         <p style="font-family: 'Lacquer';color:#ACF0FF;font-size:4vw;text-align: center;margin-top: 20%;"><b>Your form has been submitted.</b></p>
    </body>
</html>